<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djalaluddin Pane Foundation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/Main.css">
    <link rel="icon" href="{{ url_for('static', filename='static\images\icon\Logo DPF.png') }}">
</head>
<body>
    <header>
        <nav>   
        <div>
            <img src="/static/images/icon/Logo DPF.png" alt="DPF Logo">
            <h1 class="Logo">Djalaluddin Pane Foundation</h1>
        </div>
            <ul>
                <li class="button button-black "><a href="/">Home</a></li>
                <li class="button button-black"><a href="/Attendance" >Presence</a></li>
            </ul>
        </nav>
    </header>    
    <!-- Kontent artikel -->
    <main>
        <div class="tagLine">
            <article>
                <div class="judul">
                    <h2>Face Recognition System Presence</h2>
                    <p>&copy; Developed by Djalaluddin Pane Foundation IT Division</p>
                
                <div class="button button-black " ><a href="" class="default">Contact Us</a></div>
                
                </div>
                <img src="/static/images/icon/7733518.png" alt="Keluarga DPF">
            </article>
        </div>

        <!-- Tentang Kami -->
        <div class="tentangKami">
            <article>
            <img src="/static/images/icon/Chatbot-removebg-preview.png" alt="Tentang Kami DPF">
            <div class="selengkapnya">
                <h2>What is Face Recognition? </h2>
                <p>Face recognition is a biometric technology that identifies or verifies an individual's identity by analyzing and comparing their facial features. It is a sophisticated method of recognizing people based on unique characteristics such as the distance between the eyes, the shape of the nose, and the contours of the face. This technology has gained significant popularity due to its diverse applications across various industries, including security, surveillance, access control systems, and personal devices like smartphones and laptops. </p>   
                <p>The process of face recognition involves several key steps. First, an image or video of a person's face is captured using a camera. Next, sophisticated algorithms analyze the facial features in the image or video, extracting specific data points that are unique to each individual. These data points are then compared against a database of known faces to find a match. Advanced machine learning techniques are often employed to enhance the accuracy and efficiency of face recognition systems.</p>      
                <p>One of the main advantages of face recognition technology is its non-intrusive nature. Unlike traditional authentication methods such as passwords or PINs, face recognition does not require physical contact or additional hardware. This makes it convenient and user-friendly for a wide range of applications, from unlocking smartphones to securing high-level facilities.</p>

            </div>
            </article>
        </div>

        <!-- Footer -->
        <div class="footer">
            <footer>
                <div class="alamat">
                    <h2>Adress</h2>
                    <p><a href="https://maps.app.goo.gl/25bbgu3xGGwdEPhY7">Jl. Setia Budi No. 123 Tanjung Sari, Kecamatan Selayang, Kota Medan, Sumatera Utara.</a></p>
                    <p><a href="https://maps.app.goo.gl/PTaa7dcdS7E57U1Y6">Signature Park Grande Blok CTC/L1/01 Jl. MT. Haryono Kav. 20, Cawang, Jakarta Timur.</a></p>
                    <p>+62 852 3456 7951 (Jakarta)</p>
                    <p>+62 61 822 2119 (Medan)</p>
                </div>
                
                <div class="Footer">
                    <h2>About</h2>
                    <p><a href="https://dpf.or.id/tentang-kami/">History</a></p>
                    <p><a href="https://dpf.or.id/visi-misi/">Vision & Mission</a></p>
                    <p><a href="https://dpf.or.id/budaya-kerja/">Work Culture</a></p>
                    <p><a href="https://dpf.or.id/rekening/">Account</a></p>
                    <p><a href="https://dpf.or.id/laporan/">Employee Report Presence</a></p>
                </div>
                
                <div class="mediaSosial">
                    <div>
                    <h2>Social Media </h2>
                    </div>
                <div class="icon">
                    <a href="https://www.instagram.com/dpf.or.id?igsh=MTc4MmM1YmI2Ng==">
                        <img src="/static/images/icon/instagram.png" alt="Instagram Icon" style="width: 50px; height: auto;">
                    </a> 

                    <a href="https://api.whatsapp.com/send?phone=6285234567951&text=Assalamualaikum%2C%20saya%20ingin%20menunaikan%20zakat%20bisakah%20dibantu%3F">
                        <img src="/static/images/icon/whatsapp.png" alt="WhatsApp Icon" style="width: 50px; height: auto; " id="##WhatsApp">
                    </a>             

                    <a href="https://www.youtube.com/@dpfofficial">
                        <img src="/static/images/icon/youtube.png" alt="YouTube Icon" style="width: 50px; height: auto;">
                    </a>
                </div>  
                </div>
            </footer>
        </div>
    </main>
</body>
</html>
